cmake/build/*
valgrind/logs/
valgrind/a.out
a.out
linklist_valgrind/a.out
linklist_valgrind/valgrind.log
gtest/googletest-master/*
python/a.out
gtest/gcov/*.gcov
gtest/gcov/*.gcda
gtest/gcov/*.gcno
gtest/gcov/a.out
gtest/gcov/out/*
gtest/gcov/coverage.info
gtest/gtest_gcov_cmake/build/*
cpp11/a.out
